/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .container{max-width:1170px; margin:auto;}
        img{ max-width:100%;}
        .mc_inbox_people {
        background: #f8f8f8 none repeat scroll 0 0;
        float: left;
        overflow: hidden;
        width: 40%; border-right:1px solid #c4c4c4;
        }
        .mc_inbox_msg {
        border: 1px solid #c4c4c4;
        clear: both;
        overflow: hidden;
        }
        .top_spac{ margin: 20px 0 0;}


        .mc_recent_heading {float: left; width:40%;}
        .mc_srch_bar {
        display: inline-block;
        text-align: right;
        width: 60%; 
        }
        .mc_headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

        .mc_recent_heading h4 {
        color: #05728f;
        font-size: 21px;
        margin: auto;
        }
        .mc_srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
        .mc_srch_bar .input-group-addon button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        padding: 0;
        color: #707070;
        font-size: 18px;
        }
        .mc_srch_bar .input-group-addon { margin: 0 0 0 -27px;}

        .chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
        .chat_ib h5 span{ font-size:13px; float:right;}
        .chat_ib p{ font-size:14px; color:#989898; margin:auto}
        .chat_img {
        float: left;
        width: 11%;
        }
        .chat_ib {
        float: left;
        padding: 0 0 0 15px;
        width: 88%;
        }

        .chat_people{ overflow:hidden; clear:both;}
        .chat_list {
        border-bottom: 1px solid #c4c4c4;
        margin: 0;
        padding: 18px 16px 10px;
        cursor: pointer;
        }
        .mc_inbox_chat { height: 550px; overflow-y: scroll;}

        .active_chat{ background:#ebebeb;}

        .incoming_msg_img {
        display: inline-block;
        width: 6%;
        }
        .incoming_msg_img img {
            border-radius: 50px;
        }
        .chat-name span {
            font-size: 12px;
            color: #524e4e;
        }
        .received_msg {
        display: inline-block;
        padding: 0 0 0 10px;
        vertical-align: middle;
        width: 92%;
        }
        .received_withd_msg p {
        background: #ebebeb none repeat scroll 0 0;
        border-radius: 3px;
        color: #000000;
        font-size: 14px;
        margin: 0;
        padding: 5px 10px 5px 12px;
        width: 100%;
        }
        .time_date {
        color: #747474;
        display: block;
        font-size: 12px;
        margin: 8px 0 0;
        }
        .received_withd_msg { width: 57%;}
        .mc_mesgs {
        float: left;
        padding: 0px 15px 0 25px;
        width: 60%;
        }

        .sent_msg p {
        background: #05728f none repeat scroll 0 0;
        border-radius: 3px;
        font-size: 14px;
        margin: 0; color:#fff;
        padding: 5px 10px 5px 12px;
        width:100%;
        }
        .outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
        .sent_msg {
        float: right;
        width: 46%;
        }
        .input_msg_write input {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
        color: #4c4c4c;
        font-size: 15px;
        min-height: 48px;
        width: 100%;
        }

        .mc_type_msg {border-top: 1px solid #c4c4c4;position: relative;}
        .msg_send_btn {
        background: #05728f none repeat scroll 0 0;
        border: 1px solid #05728f;
        
        color: #fff;
        cursor: pointer;
        font-size: 17px;
        
        position: absolute;
        margin-top: -1px;
       
        }
        #message-text {
          max-width: 85%;
        }
        .mc_messaging { padding: 0 0 50px 0;}
        .mc_msg_history {
        height: 516px;
        overflow-y: auto;
        }


        #mc_autocomplete-container {
            width: 300px;
            margin: 50px auto;
          }
          #mc_autocomplete-container #mc_autocomplete-input {
            background: transparent;
            -moz-appearance: none;
            -webkit-appearance: none;
            width: 100%;
            padding: 20px 15px;
            border: 2px solid rgba(255, 255, 255, 0.6);
            outline: none;
           
            font-size: 20px;
          }
          
          #mc_autocomplete-container #mc_autocomplete-input:focus {
            background: rgba(0, 0, 0, 0.1);
          }
          
          #mc_autocomplete-results {
            display: none;
            width: 100%;
            margin-top: -2px;
            margin: 0px;
            list-style: none;
           
          }
          #mc_autocomplete-results li {
            width: 100%;
            padding: 20px 15px;
            border-right: 2px solid #007bff40;
            border-bottom: 2px solid #007bff40;
            border-left: 2px solid #007bff40;
          }
          #mc_autocomplete-results li:hover {
            background: rgba(0, 0, 0, 0.1);
          }
          ol, ul {
            list-style: none;
          }
          